# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.cover

# Output of the go build tool
*_test.go

# Directories
/vendor/
/bin/
/obj/
/tmp/
/node_modules/

# Editor directories and files
/.idea/
/.vscode/
/*.swp
*~

# Logs and databases
*.log
*.sqlite
*.sqlite3
*.db
*.db3

# Configuration files
.env
